:root {
  /* Spacing */
  --spacing: 12px;
  --smallSpacing: 6px;
  --bigSpacing: 18px;
  --spacingTiny: clamp(0.3rem, 1.405rem, 1rem);
  --spacingSmall: clamp(0.5rem, 2.81rem, 3rem);

  /* Border */
  --outerBorder: 5px solid black;
  --innerBorder: 4px solid #C0C0C0;

  /* Radius */
  --radius: 2%;
  --bigRadious: 12px;

  /* Texts */
  --fontTiny: clamp(0.7rem, 0.7025rem, 4rem);
  --fontSmall: clamp(0.9rem, 1.405rem, 6rem);
  --fontMedium: clamp(1.1rem, 2.81rem, 8rem);
  --fontLarge: clamp(1.3rem, 4.215rem, 15rem);
  --fontXL: clamp(1.9rem, 5.62rem, 100rem);

  --title: 8vw;
  --subTitle: 4vw;
  --header: 2vw;
  --heading: 1vw;
  --font: 'Swedish Sans', sans-serif;

  /* Colors */
  --swedishBlue: #006AA7;
  --swedishYellow: #FECC02;
  --grey: #C0C0C0;
  --red:	#FF2400;
  --green: #228B22;
  --blue: #6495ed;

  /* Buttons */
  --buttonHeight: clamp(3rem, 5.9325rem, 18rem);;
  --categoryCheckboxSize: clamp(1rem, 2.471875rem, 9rem);
  --categorySvgSize: clamp(2rem, 3.460625rem, 10rem);
}