:root {
  /* Spacing */
  --spacing: 12px;
  --smallSpacing: 6px;
  --bigSpacing: 18px;

  /* Border */
  --outerBorder: 5px solid black;
  --innerBorder: 3px solid #C0C0C0;

  /* Radius */
  --radius: 2%;
  --bigRadious: 12px;

  /* Texts */
  --title: 64px;
  --subTitle: 32px;
  --font: 'Swedish Sans', sans-serif;

  /* Colors */
  --swedishBlue: #006AA7;
  --swedishYellow: #FECC02;
  --grey: #C0C0C0;

  /* Buttons */
  --buttonHeight: 80px;
}