@import url('../styles/variables.css');

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 
      auto       /* Title */
      auto       /* SubTitle */
      1fr        /* Spacer */
      auto       /* Completed */
      1fr        /* Spacer */
      auto       /* Results */
      1fr        /* Spacer */
      auto;      /* Home */
}

.title {
  grid-row: 1;
  font-size: var(--fontXL);
  font-weight: bold;
  font-family: var(--font);
  text-align: center;
  color: black;
}

.subTitle {
  grid-row: 2;
  font-size: var(--fontLarge);
  font-weight: bold;
  font-family: var(--font);
  text-align: center;
  color: black;
}

.completed {
  grid-row: 4;
  font-size: var(--fontXL);
  font-weight: bold;
  font-family: var(--font);
  text-align: center;
  color: var(--swedishBlue);
}

#answersContent {
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
    display: inline-flex;
    flex-direction: column;
    font-family: monospace;
    gap: 0.5rem;
    margin: 0 auto;
    border-radius: var(--bigRadious);
    border: var(--innerBorder);
    padding: var(--spacing);
}

.answersGrid {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: none;
}

#check svg {
  width: var(--answersSvgSize);
  height: var(--answersSvgSize);
  color: var(--green);
}

#cross svg {
  width: var(--answersSvgSize);
  height: var(--answersSvgSize);
  color: var(--red);
}

#sum svg {
  width: var(--answersSvgSize);
  height: var(--answersSvgSize);
  color: var(--swedishBlue);
}

.counter {
    font-size: var(--fontMedium);
    font-weight: bold;
    font-family: var(--font);
    text-align: center;
    color: black;
}

.home {
  grid-row: 8;
  height: var(--buttonHeight);
  width: 100%;
  background-color: var(--swedishYellow);
  border-radius: var(--bigRadious);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSvg {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSvg svg {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--swedishBlue);
}