.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* fyller hela skärmen */
  background-color: var(--swedishBlue);
}

.container h1 {
  font-size: 4rem;
  color: var(--swedishYellow);
  text-align: center;
}