.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.map-container {
    position: relative;
    display: inline-block;
}

.map {
    display: block;
    width: 100%;
    height: auto;
}

.map-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-image: url('../../resources/images/svg/LandscapePin.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.status-bar-container {
    width: 80%;
    height: 8px;
    margin-bottom: 5px;
    display: flex;
}

.bar-part {
  height: 100%;
  background-color: #ccc;
  border-left: 1px solid #fff;
}

.bar-part:first-child {
  border-left: none;
}

.bar-part.correct {
  background-color: var(--green);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.spacer {
  flex-grow: 1;
}

.box {
    display: inline-flex;
    flex-direction: column;
    font-family: monospace;
    gap: 0.5rem;
    margin: 0 auto;
    border-radius: var(--bigRadious);
    border: var(--innerBorder);
    padding: var(--spacing);
}

.header {
    font-size: var(--header);
    font-weight: bold;
    font-family: var(--font);
    text-align: center;
    color: black;
}

.verticalStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

.horizontalStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}

#text {
    text-align: center;
    font-size: var(--heading);
}

#landscapce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#landscapce svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.counter {
    font-size: var(--heading);
    font-weight: bold;
    font-family: var(--font);
    text-align: center;
    color: black;
}

.hint {
    cursor: pointer;
}