<div class="container">
    <!-- Left content -->
    <div class="left">
        <div class="map-container">
            <img id="map" class="map" alt="SwedishMap" />

            <!-- Norrland -->
            <div id="btnLappland" class="map-btn" style="left: 50%; top: 15%;" data-landscape="Lappland" data-answer-left="52%" data-answer-top="17%"></div>
            <div id="btnNorrbotten" class="map-btn" style="left: 80%; top: 17%;" data-landscape="Norrbotten" data-answer-left="86%" data-answer-top="17%"></div>
            <div id="btnVästerbotten" class="map-btn" style="left: 64%; top: 30%;" data-landscape="Västerbotten" data-answer-left="68%" data-answer-top="30.5%"></div>
            <div id="btnJämtland" class="map-btn" style="left: 26%; top: 36%;" data-landscape="Jämtland" data-answer-left="24%" data-answer-top="39%"></div>
            <div id="btnÅngermanland" class="map-btn" style="left: 48%; top: 38%;" data-landscape="Ångermanland" data-answer-left="49%" data-answer-top="38.5%"></div>
            <div id="btnHärjedalen" class="map-btn" style="left: 16%; top: 45.5%;" data-landscape="Härjedalen" data-answer-left="17%" data-answer-top="47%"></div>
            <div id="btnMedelpad" class="map-btn" style="left: 40%; top: 44%;" data-landscape="Medelpad" data-answer-left="40%" data-answer-top="45%"></div>
            <div id="btnHälsingland" class="map-btn" style="left: 37%; top: 50.5%;" data-landscape="Hälsingland" data-answer-left="38%" data-answer-top="52%"></div>
            <div id="btnGästrikland" class="map-btn" style="left: 42%; top: 57.5%;" data-landscape="Gästrikland" data-answer-left="43.5%" data-answer-top="59.5%"></div>
            <!-- Svealand -->
            <div id="btnDalarna" class="map-btn" style="left: 19%; top: 55%;" data-landscape="Dalarna" data-answer-Left="22%" data-answer-top="56%"></div>
            <div id="btnVärmland" class="map-btn" style="left: 13%; top: 63%;" data-landscape="Värmland" data-answer-Left="14%" data-answer-top="65%"></div>
            <div id="btnVästmanland" class="map-btn" style="left: 33%; top: 63.5%;" data-landscape="Västmanland" data-answer-Left="34%" data-answer-top="65.5%"></div>
            <div id="btnUppland" class="map-btn" style="left: 50%; top: 62%;" data-landscape="Uppland" data-answer-Left="52%" data-answer-top="64%"></div>
            <div id="btnNärke" class="map-btn" style="left: 27.5%; top: 69%;" data-landscape="Närke" data-answer-Left="29%" data-answer-top="70%"></div>
            <div id="btnSödermanland" class="map-btn" style="left: 42%; top: 69%;" data-landscape="Södermanland" data-answer-Left="45%" data-answer-top="70%"></div>
            <!-- Götaland -->
            <div id="btnDalsland" class="map-btn" style="left: 4%; top: 70%;" data-landscape="Dalsland" data-answer-left="5%" data-answer-top="71.5%"></div>
            <div id="btnBoshuslän" class="map-btn" style="left: -2%; top: 75%;" data-landscape="Bohuslän" data-answer-left="1%" data-answer-top="76.5%"></div>
            <div id="btnVästergötland" class="map-btn" style="left: 11%; top: 76%;" data-landscape="Västergötland" data-answer-left="12%" data-answer-top="79%"></div>
            <div id="btnÖstergötland" class="map-btn" style="left: 33%; top: 73.5%;" data-landscape="Östergötland" data-answer-left="35%" data-answer-top="75%"></div>
            <div id="btnHalland" class="map-btn" style="left: 4%; top: 84%;" data-landscape="Halland" data-answer-left="9%" data-answer-top="85.5%"></div>
            <div id="btnSmåland" class="map-btn" style="left: 25%; top: 82%;" data-landscape="Småland" data-answer-left="27%" data-answer-top="84%"></div>
            <div id="btnGotland" class="map-btn" style="left: 56%; top: 79%;" data-landscape="Gotland" data-answer-left="59%" data-answer-top="82%"></div>
            <div id="btnÖland" class="map-btn" style="left: 41.0%; top: 84%;" data-landscape="Öland" data-answer-left="44%" data-answer-top="87%"></div>
            <div id="btnBlekinge" class="map-btn" style="left: 29%; top: 88%;" data-landscape="Blekinge" data-answer-left="32%" data-answer-top="90%"></div>
            <div id="btnSkåne" class="map-btn" style="left: 14%; top: 90.5%;" data-landscape="Skåne" data-answer-left="16%" data-answer-top="93%"></div>
        </div>
    </div>

    <!-- Right content -->
    <div class="right">
        <div class="spacer"></div>
        <div id="guess" class="header">Guess the landscape on the map</div>
        <div class="box">
            <div class="verticalStack">
                <div id="landscapce" class="landscape"></div> 
                <div id="text" class="text">ASDF</div> 
            </div>
        </div>
        <div class="spacer"></div>
        <div id="answer" class="header">Answers</div>
        <div class="box">
            <!-- Correct answers -->
            <div class="row">
                <div id="check" class="check"></div>
                <div id="correctCounter" class="counter">0</div>
            </div>
            <!-- Incorrect answers -->
            <div class="row">
                <div id="cross" class="cross"></div>
                <div id="incorrectCounter" class="counter">0</div>
            </div>
            <!-- Number of items -->
            <div class="row">
                <div id="sum" class="sum"></div>
                <div id="numberOfItems" class="counter">0</div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>