<div class="container">
    
    <!-- Symbol -->
    <div id="symbolContent" class="gridItem">
        <div class="header">Guess on map</div>
        <div class="box">
            <div id="symbol" class="symbol"></div> 
            <div id="text" class="text">ASDF</div> 
        </div>
    </div>

    <!-- Map section -->
    <div class="map-container">
        <!-- Map -->
        <div id="map" class="map"></div>
    </div>

    <!-- Menu section -->
    <div class="menuSection">
        <div class="gridContainer">

            <!-- Answers header -->
            <div id="answersHeader" class="gridItem">
                <div class="header">Answers</div>
            </div>
            <!-- Hint header -->
            <div id="hintHeader" class="gridItem">
                <div class="header">Hint</div>
            </div>

            <!-- Answers -->
            <div id="answersContent" class="gridItem">
                <div class="box">
                    <div class="answersGrid">
                        <div id="check" class="check"></div>
                        <div id="correctCounter" class="counter">0</div>
                        
                        <div id="cross" class="cross"></div>
                        <div id="incorrectCounter" class="counter">0</div>
                        
                        <div id="sum" class="sum"></div>
                        <div id="numberOfItems" class="counter">0</div>
                    </div>
                </div>
            </div>

            <!-- Hint -->
            <div id="hintContent" class="gridItem">
                <div class="box">
                    <div id="hint" class="hint"></div>
                </div>
            </div>

        </div>
    </div>
</div>