<div class="container">
    <!-- Left content -->
    <div class="left">
        <div class="map-container">
            <img id="map" class="map" src="/views/resources/images/SwedishLandscapes.png" />

            <!-- Norrland -->
            <div id="btnLappland" class="map-btn" style="left: 50%; top: 15%;"></div>
            <div id="btnNorrbotten" class="map-btn" style="left: 84%; top: 13%;"></div>
            <div id="btnVästerbotten" class="map-btn" style="left: 67%; top: 29%;"></div>
            <div id="btnJämtland" class="map-btn" style="left: 22%; top: 37%;"></div>
            <div id="btnÅngermanland" class="map-btn" style="left: 49%; top: 37.5%;"></div>
            <div id="btnHärjedalen" class="map-btn" style="left: 16%; top: 47%;"></div>
            <div id="btnMedelpad" class="map-btn" style="left: 41.8%; top: 44.4%;"></div>
            <div id="btnHälsingland" class="map-btn" style="left: 37%; top: 51%;"></div>
            <div id="btnGästrikland" class="map-btn" style="left: 42%; top: 58.5%;"></div>
            <!-- Svealand -->
            <div id="btnDalarna" class="map-btn" style="left: 20%; top: 55%;"></div>
            <div id="btnVärmland" class="map-btn" style="left: 11%; top: 63%;"></div>
            <div id="btnVästmanland" class="map-btn" style="left: 34.5%; top: 65%;"></div>
            <div id="btnUppland" class="map-btn" style="left: 50%; top: 62.5%;"></div>
            <div id="btnNärke" class="map-btn" style="left: 28%; top: 69.1%;"></div>
            <div id="btnSödermanland" class="map-btn" style="left: 43%; top: 69.5%;"></div>
            <!-- Götaland -->
            <div id="btnDalsland" class="map-btn" style="left: 3%; top: 71%;"></div>
            <div id="btnBoshuslän" class="map-btn" style="left: 0%; top: 75.0%;"></div>
            <div id="btnVästergötland" class="map-btn" style="left: 10%; top: 78%;"></div>
            <div id="btnÖstergötland" class="map-btn" style="left: 33%; top: 74%;"></div>
            <div id="btnHalland" class="map-btn" style="left: 8%; top: 85%;"></div>
            <div id="btnSmåland" class="map-btn" style="left: 25%; top: 84%;"></div>
            <div id="btnGotland" class="map-btn" style="left: 57%; top: 80%;"></div>
            <div id="btnÖland" class="map-btn" style="left: 41.0%; top: 86%;"></div>
            <div id="btnBlekinge" class="map-btn" style="left: 30%; top: 88%;"></div>
            <div id="btnSkåne" class="map-btn" style="left: 15%; top: 92%;"></div>
        </div>
    </div>

    <!-- Right content -->
    <div class="right">
        <div class="spacer"></div>
        <div id="guess" class="header">Guess the landscape on the map</div>
        <div class="box">
            <div id="landscapce" class="landscape"></div>
        </div>
        <div class="spacer"></div>
        <div id="answer" class="header">Answers</div>
        <div class="box">
            <!-- Correct answers -->
            <div class="row">
                <div id="check" class="check"></div>
                <div id="correctCounter" class="counter">0</div>
            </div>
            <!-- Incorrect answers -->
            <div class="row">
                <div id="cross" class="cross"></div>
                <div id="incorrectCounter" class="counter">0</div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>