@import url('../styles/variables.css');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.borderBox {
  position: absolute;
  top: var(--spacingTiny);
  left: var(--spacingTiny);
  right: var(--spacingTiny);
  bottom: var(--spacingTiny);
  padding: var(--spacingTiny);

  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  border: var(--outerBorder);
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  background-color: transparent;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
}

#createdBy {
  justify-self: start;
  text-align: left;
  font-size: var(--fontTiny);
}

#version {
  justify-self: end;
  text-align: right;
  font-size: var(--fontTiny);
}